<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="css/starter-template.css">

    <style type="text/css">
    	body {
		  padding-top: 5rem;
		}
		.starter-template {
		  padding: 3rem 1.5rem;
		  text-align: center;
		}
		.my-row {
	       border: 3px solid yellow;
		}
		.my-col {
			border: 3px dotted blue; 
		}
    </style>

    <title>Hoos Nearby?</title>
  </head>
  <body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">Hoos Nearby?</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
	  	</button>
	</nav>
    <main role="main" class="container">
		<div class="starter-template">
			<div class="row">
				<div class="col">
					<h2>Gateway</h2>
					ID = {{ gatewayId }}<br/>
					IP Address = {{ gatewayIP }}<br/>
				</div>
			</div>
			
			<div class="row mt-5"></div>
			
			<div class="row">
				<div class="col-6">
					<h3>Sensors</h3>
					{% for sensor in sensors %}
						{{ sensor["device"] }} ({{ sensor["_id"] }}, {{ sensor["receiver"] }})<br/>
					{% endfor %}
				</div>
				<div class="col-6">
					<h3>Neighbors</h3>
					{% for neighbor in neighbors %}
						{{ neighbor["_id"] }}<br/>	
					{% endfor %}
				</div>
			</div>			
		</div>
    </main>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>